$main-color: #22356F;
$second-color: #62D0DF;
$third-color: #0052C1;

$section-one-bottom: #FAB63E;

$section-three-first: #FFE2DE;
$section-three-second: #C4E769;

$section-four-first: #DEE1FF;
$section-four-second: #8F00FF;

$point-color: #E9B730;