@font-face {
    font-family: "Larsseit-Bold";
    src: url('fonts/Larsseit-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Larsseit-Medium";
    src: url('fonts/Larsseit-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Larsseit-Regular";
    src: url('fonts/Larsseit-Regular.ttf') format("truetype");
}