@import "colors";
@import "variables";
@import "fonts";

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Larsseit-Regular';
    color: $main-color;
    a {
        text-decoration: none;
    }
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.container-large {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 27px;

    .header-container {
        display: flex;
        align-items: center;

        .link {
            color: $second-color;
            font-family: 'Larsseit-Bold';
            font-size: 24px;
            line-height: 23px;
            letter-spacing: -0.035em;
            margin-right: 313px;
        }

        .stick {
            background-color: $main-color;
            position: absolute;
            width: 50px;
            height: 1px;
            top: 26px;
            left: -5px;
        }

        .span {
            font-family: 'Larsseit-Medium';
            font-size: 14px;
            line-height: 17px;
            margin-right: 27px;
            position: relative;
            cursor: pointer;
        }

        .span:hover {
            color: gray;
        }

        span {
            font-family: 'Larsseit-Medium';
            font-size: 14px;
            line-height: 17px;
            margin-right: 27px;
            cursor: pointer;
        }

        span:hover {
            color: gray;
        }

        button {
            border: none;
            border-radius: 50px;
            background-color: $second-color;
            width: 150px;
            height: 50px;
            font-size: 14px;
            line-height: 14px;
            color: #fff;
            margin-left: 319px;
            z-index: 3;
            cursor: pointer;
        }

        button:hover {
            background-color: #219faf;
            color: #F4F9E2;
        }

    }
}

.first-section {
    display: flex;
    background-color: #F4F9E2;

    .left-block {
        margin-left: 11%;
        h2 {
            margin-top: 241px;
            color: $second-color;
            font-family: 'Larsseit-Bold';
            font-size: 24px;
            line-height: 23px;
            letter-spacing: -0.035em;
            margin-bottom: 47px;
        }

        h1 {
            font-family: 'Larsseit-Bold';
            font-size: 48px;
            line-height: 45px;
            letter-spacing: -0.035em;
            margin-bottom: 95px;
        }

        p {
            font-size: 24px;
            line-height: 45px;
            margin-bottom: 63px;
        }

        button {
            border: none;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: #fff;
            width: 150px;
            height: 50px;
            background-color: $section-one-bottom;
            margin-right: 38px;
            margin-bottom: 75px;
            cursor: pointer;
        }

        button:hover {
            background-color: #eb9500;
        }

        a {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: $section-one-bottom;
        }

        a:hover {
            color: #eb9500;
        }
    }

    .right-block {
        display: flex;
        justify-content: flex-end;

        .bg {
            position: absolute;
            z-index: 1;
        }

        .photo {
            z-index: 2;
        }
    }
}

.second-section {
    background-color: $second-color;
    padding-top: 151px;
    display: flex;
    flex-direction: row-reverse;

    img {
        margin-top: -151px;
    }

    h2 {
        margin-bottom: 75px;
        font-family: 'Larsseit-Bold';
        width: 223px;
        font-size: 36px;
        line-height: 27px;
        letter-spacing: -0.006em;
        color: #FFF;
    }

    p {
        font-family: 'Larsseit-Bold';
        width: 555px;
        font-size: 24px;
        line-height: 30px;
        color: #FFF;

        .span {
            font-family: 'Larsseit-Regular';
            width: 555px;
            font-size: 20px;
            line-height: 25px;
        }
    }
}

.third-section {
    .text-three {
        margin-top: 150px;
        display: flex;
        margin-bottom: 75px;

        span {
            width: 93px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.06em;
            margin-left: 106px;
            margin-right: 225px;
        }

        p {
            font-family: 'Larsseit-Medium';
            width: 592px;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.005em;
        }
    }

    .title-three {
        width: 201px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.06em;
        color: rgba(34, 53, 111, 0.5);
        margin-left: 620px;
    }

    .list {
        margin-top: 24px;
        display: flex;

        .item {
            width: 360px;
            height: 360px;
            margin-bottom: 120px;

            .stick {
                width: 255px;
                height: 1px;
                background-color: #fff;
                margin: 0 auto;
                margin-top: 71px;
            }

            ul {
                list-style: none;
                margin-top: 23px;
                margin-left: 54px;

                li {
                    font-family: 'Larsseit-Bold';
                    width: 232px;
                    font-size: 32px;
                    line-height: 29px;
                    letter-spacing: -0.006em;
                    color: #FFFFFF;
                    padding-left: 23px;
                    position: relative;
                }

                li::before {
                    position: absolute;
                    top: 6px;
                    left: 0;
                    content: "";
                    display: block;
                    border-radius: 50%;
                    width: 9px;
                    height: 9px;
                    background-color: $point-color;
                }
            }
        }

        .item:hover {
            cursor: pointer;
            background-color: #eb9500;
        }

        .item-one {
            background-color: $section-three-first;
        }

        .item-two {
            background-color: $section-three-second;
        }

        .item-three {
            background-color: $second-color;
        }

        .item-four {
            background-color: $third-color;
        }
    }
}

.fourth-section {
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 22px;

        .item {
            width: 33.3%;
            height: 480px;

            .stick {
                width: 340px;
                height: 1px;
                background-color: #fff;
                margin: 0 auto;
                margin-top: 95px;
            }

            ul {
                list-style: none;
                margin-top: 30px;
                margin-left: 72px;

                li {
                    font-family: 'Larsseit-Bold';
                    width: 157px;
                    font-size: 32px;
                    line-height: 35px;
                    letter-spacing: -0.006em;
                    color: #FFFFFF;
                    padding-left: 30px;
                    position: relative;
                }

                li::before {
                    position: absolute;
                    top: 7px;
                    left: 0;
                    content: "";
                    display: block;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    background-color: $point-color;
                }
            }
        }

        .item:hover {
            cursor: pointer;
            background-image: url(img/photo-section-six.jpg);
        }

        .item-one {
            background-color: $main-color;
        }

        .item-two {
            background-color: $third-color;
        }

        .item-three {
            background-image: url(img/photo-section-four.jpg);
        }

        .item-four {
            background-color: $second-color;
        }

        .item-five {
            background-color: $section-four-first;
        }

        .item-six {
            background-color: $section-four-second;
        }
    }
}

.fiveth-section {
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .item {
            width: 375px;
            height: 185px;
            padding-top: 55px;
            padding-left: 105px;

            h2 {
                width: 234px;
                font-size: 28px;
                line-height: 35px;
                letter-spacing: -0.03em;
                margin-bottom: 28px;
            }

            p {
                width: 298px;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: -0.03em;
                color: rgba(34, 53, 111, 0.5);
            }
        }

        .item:hover {
            background-color: rgba(128, 128, 128, 0.178);
            border-radius: 30px;
            cursor: pointer;
        }
    }
}

.sixth-section {
    display: flex;

    .text {
        margin-left: 106px;

        h2 {
            width: 217px;
            font-size: 16px;
            line-height: 13px;
            letter-spacing: 0.06em;
            margin-top: 103px;
            margin-bottom: 225px;
        }

        p {
            font-family: 'Larsseit-Bold';
            width: 676px;
            font-size: 36px;
            line-height: 45px;
            letter-spacing: -0.01em;
            margin-bottom: 206px;

            a {
                color: $second-color;
            }

            a:hover {
                color: #219faf;
            }
        }

        .but {
            font-family: 'Larsseit-Bold';
            width: 137px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: $section-one-bottom;
            cursor: pointer;
        }

        .but:hover {
            color: #eb9500;
        }
    }
}

.seventh-section {
    background-color: $main-color;
    display: flex;
    flex-direction: row-reverse;
    color: #fff;

    .text {
        h2 {
            margin-top: 103px;
            width: 108px;
            font-size: 16px;
            line-height: 13px;
            letter-spacing: 0.06em;
            margin-bottom: 230px;
        }

        h1 {
            font-family: 'Larsseit-Bold';
            width: 704px;
            font-size: 64px;
            line-height: 80px;
            letter-spacing: -0.01em;
            margin-bottom: 75px;
        }

        p {
            width: 579px;
            font-size: 36px;
            line-height: 56px;
            letter-spacing: -0.005em;
            margin-bottom: 86px;
        }

        a {
            font-family: 'Larsseit-Bold';
            width: 518px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            color: $second-color;
        }

        a:hover {
            color: #219faf;
        }
    }
}

.eighth-section {
    display: flex;

    .text {
        margin-top: 98px;
        margin-left: 68px;
        display: flex;

        .item {
            h2 {
                font-family: 'Larsseit-Bold';
                font-size: 14px;
                line-height: 9px;
                letter-spacing: -0.006em;
                margin-bottom: 54px;
            }

            p {
                width: 174px;
                font-size: 14px;
                line-height: 25px;
                letter-spacing: -0.006em;
                color: rgba(34, 53, 111, 0.5);
            }
        }

        .item-two {
            margin-left: 95px;

            p {
                width: 159px;
                margin-bottom: 25px;
            }

            a {
                color: $second-color;
            }

            a:hover {
                color: #219faf;
            }
        }

        .item-three {
            margin-left: 95px;

            p {
                width: 112px;
            }
        }
    }

    .last-line {
        background-color: $second-color;
        min-height: 100px;
    }

}

.footer {
    background-color: $second-color;
    height: 48px;
    padding-top: 32px;

    span {
        font-family: 'Larsseit-Bold';
        width: 351px;
        font-size: 14px;
        line-height: 9px;
        letter-spacing: -0.006em;
        color: #FFF;
    }
}

@media screen and (max-width: 1280px) {
    .eighth-section .text { 
        margin-left: 30px;
    }

    .eighth-section .text .item-two {
        margin-left: 30px;
    }

    .eighth-section .text .item-three { 
        margin-left: 30px;
    }

    .sixth-section .text {
        margin-left: 30px;
    }

    .container-large {
        max-width: 1280px;
        margin: 0 auto;
    }

}